[Unit]
Description=Host Bootstrap
Before=initrd-root-device.target
Requires=basic.target systemd-udev-settle.service
After=systemd-udev-settle.service
DefaultDependencies=no
ConditionPathExists=/etc/initrd-release
OnFailure=emergency.target
OnFailureJobMode=replace-irreversibly
AllowIsolate=yes

[Service]
Type=oneshot
ExecStart=/bootstrap
#ExecStartPost=/bin/systemctl --no-block start initrd-switch-root.target
TimeoutSec=0
RemainAfterExit=yes

[Install]
WantedBy=initrd-root-device.target
